html, body {
	font-size: $global-font-size + px;
	font-family: $global-font;
	font-weight: 300;
}

* {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

ul, li {
	list-style: none;
}