//============================================================
//
// Mixins SCSS
//
// @description
//   Utils list of useful mixins
// @version 0.0.1
//
// @author L.Prandi
//
//============================================================

@mixin clearfix() {

  &:before, &:after {
  	content: " ";
  	display: table;
  }
  &:after {
  	clear: both;
  }
}

@mixin grid() {
	max-width: $grid-width + px;
	margin: 0 auto;

	&:after {
  	display: table;
		content: "";
  	clear: both;
	}
}

@mixin grid-column($nb-column, $gutter: true, $size-break: "mobile") {
	float: left;
	width: 100%;

	@if $size-break == 'mobile' {
		@media #{$mobile-up} {
			width: ((100 / $nb-grid-column) * $nb-column) *1%;
		}
	}
	@else if $size-break == 'tablet' {
		@media #{$tablet-up} {
			width: ((100 / $nb-grid-column) * $nb-column) *1%;
		}
	}
	@else if $size-break == 'desktop' {
		@media #{$desktop-up} {
			width: ((100 / $nb-grid-column) * $nb-column) *1%;
		}
	}
	@else if $size-break == 'large-desktop' {
		@media #{$large-desktop-up} {
			width: ((100 / $nb-grid-column) * $nb-column) *1%;
		}
	}

	@if $gutter {
		padding-right: $column-gutter/4 + px;
		padding-left: $column-gutter/4 + px;
	}
}