//============================================================
//
// Variables SCSS: peck-tooltip
//
// @description
//	Variable to define the general style of the tooltip element
// @version 0.0.1
//
// @author L.Prandi
//
//============================================================


//general styles
$peck-tooltip-background-color: #FFFFFF;
$peck-tooltip-border-color: #000000;
$peck-tooltip-border-radius: 4;
$peck-tooltip-border-width: 1;
$peck-tooltip-color: #000000;
$peck-tooltip-font-size: 16;

//arrow
$peck-tooltip-arrow-size: 4;

//paddings
$peck-tooltip-padding-bottom: 4;
$peck-tooltip-padding-right: 4;
$peck-tooltip-padding-left: 4;
$peck-tooltip-padding-top: 4;
